body {
    display: flex;
    float: left;
}

#game {    
    margin: 10px;
    float: left;
}

#right-panel {
    margin: 10px;
    background-image: url("svg/rightside_image.svg");
    width: 300px;
}

button {
    margin: auto;
    border-radius: 15px;
    background:  goldenrod;
    width: 230px;
    height: 30px;
}

ul.no-bullets {
    list-style-type: none;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}
