@font-face {
    font-family: 'Pricedown';
    src: url('/fonts/pricedown.ttf') format('truetype');
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    text-shadow: 4px 4px 4px #aaa;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 10px;
}

h1 {
    margin: auto; 
    text-align:center;
}

h3 {
    font-family: 'Comic Sans MS', comicsans;
}

@supports (-webkit-text-stroke: 1px black)
{

    .gta {
        font-family: 'Pricedown', pricedown;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
}

.link_image_button {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
}

.link_image_button img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-row {
    /* add */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: larger;
}
