body {
    margin: 10 px;
    display: flex;
    float: left;
}

#game {
    padding: 10 px;
    float: left;
}

#right-panel {
    height: 500;
    background-color: antiquewhite;
}

button {
    margin: auto;
    border-radius: 15px;
    background:  goldenrod;
    width: 200px;
    height: 30px;
}

ul.no-bullets {
    list-style-type: none;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}
