@font-face {
    font-family: 'Pricedown';
    src: url('http://www.fontsaddict.com/fontface/pricedown.ttf'),
        url('/fonts/pricedown.ttf') format('truetype');
}

body {
    margin: 10px;
    text-shadow: 4px 4px 4px #aaa;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

h1 {
    margin: auto; 
    text-align:center;
}

h3 {
    font-family: 'Comic Sans MS', comicsans;
}

.gta {
    font-family: 'Pricedown', pricedown;
}

.link_image_button {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
}

.link_image_button img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-row {
    /* add */
    color: black;
}
