body {
    margin: 10px;
}

#myCanvas {
    width: 512px; 
    height: 512px; 
    border: 1px solid black;
}

.tool_bar {
    background-color: gray;
    padding: 5px;
    height: 512px;
    min-width: 300px;
}

.side_bar {
    display: block;
    background-color: gray;
    padding: 5px;
    width: 50px;
    height: 512px;
}

.side_bar button {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

.tool_bar_section {
    display: flex;
}

.tool_bar button {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    min-height: 24px;
    min-width: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.color_format {
    height: 25px;
    width: 25px;
}
