body { 
    margin: 0; 
    color: beige;
    font-family: Consolas, monaco, monospace; 
}

h1 {
    text-align: center;
}

.grid_container {
    display: grid;
    background-color: #333333;
    grid-template-columns: 3vw 40vw 3vw auto;

    margin: 10px;
    padding: 10px;
}

.control_button_horizontal, .control_button_vertical {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}



#color_div_id {
    background-color: #333333;
    margin: 10px;
    padding: 10px;
}



.colors_grid_container {
    display: grid;
    background-color: #333333;
    grid-template-columns: auto auto auto auto auto;

    margin: 10px;
    padding: 10px;
}


#cube_cross_section, #cone_cross_section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10vw;
    position: relative;
}

.canvas_cross {
    display: block;
    width: 256px;
    height: 256px;
    border: solid black 3px;
    image-rendering: pixelated;
}

#cube_buttons, #cube_sliders {
    display: block;
    margin: auto;
    padding: 10px;
}


#cone_canvas_cross {
    display: block;
    width: 256px;
    height: 256px;
    border-top: solid black 3px;
    border-left: solid black 3px;
    image-rendering: pixelated;
}
